/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

body{

  margin:0;
  padding:0;
  background-image: url(maison.png);
  -webkit-background-size :cover;
  background-size: cover;
  background-position: fixed;
  position: center;

}


.logo{
    width: 150px ;
}

.navbar{
  display: flex;
	position: absolute;
	top: 0;
	z-index: 99999;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.navbar ul.nav{
	margin-right: 5%;
}
.navbar ul.nav li.active,
.navbar ul.nav li:hover{
	background:rgba(255, 255, 255, 0.5);
	color: #000;
}
.navbar ul.nav li a{
	color: #fff;
	font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li.active a,
.navbar ul.nav li:hover a{
	color: #000;
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}


#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.footer-dark {
  margin-bottom: 0%;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#081d33a8;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }



.wrapper{
  width: 1010px;
  height: 100px;
  color: #000;
  top: 35%;
  left: 72%;
  position: absolute;
  transform: translate(-80%,-100%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px rgb(0, 0, 0);
  display: flex;
	position: absolute;
	z-index: 99999;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
.wrapper input[type=submit]{
  border: none;
  outline: none;
  height: 40px;
  width: 130px;
  background: rgba(92, 92, 92, 0.692);
  color: rgb(255, 255, 255);
  font-size: 13px;
  margin-top: 20px;
  margin-left: 5px;
}
.wrapper input[type=submit]:hover{
  cursor: pointer;
  background-color: rgb(196, 196, 196);
  color: #000;
  border-color: rgb(65, 65, 65);
}
.wrapper input[type=text]{
  border: none;
  outline: none;
  height: 40px;
  width: 140px;
  background: rgba(255, 255, 255, 0.692);
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 2px;
}
.wrapper .detail{
  border: none;
  outline: none;
  height: 40px;
  width: 120px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 2px;
}
.wrapper .selectcase{
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  background: rgba(255, 255, 255, 0.692);
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 2px;
}

.wrapper2{
  width: 1100px;
  height: 450px;
  color: #000;
  top: 90%;
  left: 75%;
  position: absolute;
  transform: translate(-80%,-100%);
  box-sizing: border-box;
  display: flex;
	position: absolute;
	z-index: 99999;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #26292ca2;
}


.wrapper2 .slider{
  width: 400px;
  height: 350px;
  margin-right: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.wrapper2 .slides{
  width: 400px;
  height: 350px;
  display: flex;
}

.wrapper2 .slides input{
  display: none;
}

.wrapper2 .slide{
  transition: 2s;
}

.wrapper2 .slide img{
  width: 400px;
  height: 350px;
}

/*css for manual slide navigation*/

.wrapper2 .navigation-manual{
  position: absolute;
  width: 400px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.wrapper2 .manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.wrapper2 .manual-btn:not(:last-child){
  margin-right: 40px;
}

.wrapper2 .manual-btn:hover{
  background: #ffffff;
}

.wrapper2 #radio1:checked ~ .first{
  margin-left: 0;
}

.wrapper2 #radio2:checked ~ .first{
  margin-left: -100%;
}

.wrapper2 #radio3:checked ~ .first{
  margin-left: -200%;
}

.wrapper2 #radio4:checked ~ .first{
  margin-left: -300%;
}

/*css for automatic navigation*/

.wrapper2 .navigation-auto{
  position: absolute;
  display: flex;
  width: 400px;
  justify-content: center;
  margin-top: 310px;
}

.wrapper2 .navigation-auto div{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  transition: 2s;
}

.wrapper2 .navigation-auto div:not(:last-child){
  margin-right: 40px;
}

.wrapper2 #radio1:checked ~ .navigation-auto .auto-btn1{
  background: #ffffff;
}

.wrapper2 #radio2:checked ~ .navigation-auto .auto-btn2{
  background: #ffffff;
}

.wrapper2 #radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ffffff;
}

.wrapper2 #radio4:checked ~ .navigation-auto .auto-btn4{
  background: #ffffff;
}

.wrapper2 .detailcontainer{
  margin: 10px;
  width: 700px;
}
.wrapper2 .detailcontainer output[type=text]{
  border: none;
  outline: none;
  height: 30px;
  width: 180px;
  background: rgba(250, 250, 250, 0.753);
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 10px;
}
.wrapper2 .detailcontainer .desc {
  border: none;
  outline: none;
  height: 100px;
  width: 600px;
  background: rgba(250, 250, 250, 0.753);
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.wrapper2 .detailcontainer .titre{
  color: #fff;
  margin-left: 100px;
  font-size: 30px;
  font-weight: bold;
}
.wrapper2 .detailcontainer .info{
  color: #fff;
  margin-top: 1px;
  margin-left: 10px;
}
.wrapper3{
  width: 1200px;
  height: 300px;
  top: 90%;
  left: 75%;
  position: absolute;
  transform: translate(-78%,-100%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px rgb(0, 0, 0);
  display: flex;
	position: absolute;
	z-index: 99999;
  padding: 1% 2%;
  justify-content: space-between;
  color: #000;
  align-items: center;
  background-color: #26292cbb;
}
.wrapper3 .image{
  width: 200px;
  height: 200px;
  border-radius: 2px;
}
@media (max-width:991px) {
  .wrapper2 {
    margin-top:80px;
  }
}
@media (max-width:991px) {
  .wrapper {
    margin-top:80px;
  }
}